<h1>Property Finder Carousel</h1>
<p>Created by: Bonnie Pham</p>
<div class="property-finder-container">
  <div class="property-finder-mobile-menu">
    <div class="property-finder-column-mobile">
      <a class="carousel-back-button" (click)="slideBack()"> < </a>
    </div>
    <div class="property-finder-column-mobile">
      <a class="carousel-forward-button" (click)="slideForward()"> > </a>
    </div>
  </div>

  <div class="property-finder-column">
    <a class="carousel-back-button" (click)="slideBack()"> < </a>
  </div>
  <div id="property-finder-big-column">
    <div class="carousel-frame" *ngFor="let property of properties; let i = index;">
      <pf-carousel 
      [logo]=property.links.logo
      [name]=property.name 
      [description]=property.description
      [index]=i>
      </pf-carousel>
    </div>
  </div>
  <div class="property-finder-column">
    <a class="carousel-forward-button" (click)="slideForward()"> > </a>
  </div>
</div>
<div class="carousel-show-indicator">
    <p>Jump to: <span id="carousel-show-name">{{nameHover}}</span></p>
</div>
<div class="carousel-changer">
  <div *ngFor="let property of properties; let i = index;">
    <div class="carousel-changer-selector" (click)="changeSlide(i)" (mouseenter)="showName(property.name)" (mouseleave)="leaveName('')"></div>
  </div>
</div>

