.carousel-container {
  height: 20em;
  width: 70%;
  margin: 0 auto;
  border: 1px solid #aaa;
  display: none;
}
.active {
  display: block;
}
.carousel-back-button {
  float: left;
}
.carousel-forward-button {
  float: right;
}