h1 {
  font-family: 'Georgia', sans-serif;
  letter-spacing: 1px;
  color: #aaa;
  font-size: 1em;
}
p {
  font-family: 'Raleway', sans-serif;
  color: #aaa;
  font-size: 0.9em;
  line-height: 22px;
}
.carousel-description {
  border: 1px solid #aaa;
  padding: 10px;
  width: 100%;
  height: 150px;
  overflow: scroll;
}
/* Scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #bbb;  
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ddd;  
}
